{
    "application.fingerprint" : "D20rAujhgVqrAz5iMn8ahViNpUJF8naPahKTjTdtvtA5HQn7okSbZTGVpKHNgu2N1oJpr9bvZNwideaxP0GQVw==",
    "application.language" : "zh-CN",
    "application.lockScreenTimeout" : 0,
    "application.masterPassword" : false,
    "filer.hiddenItemsVisible" : true,
    "terminal.askBeforeCloseTab" : false,
    "terminal.askBeforeCloseWindow" : false,
    "terminal.reimportShellSessions" : false,
    "terminal.rightClickAction" : "PasteText",
    "terminal.startupSessions" : "NoSessions",
    "terminal.text.alternatingLineColors" : true,
    "terminal.text.autoCopySelection" : true,
    "terminal.text.hiddenMargins" : [ "symbol", "blank", "timestamp", "fold", "number" ],
    "text.zoomFactor" : -2
}
