{
    "application.fingerprint" : "D20rAujhgVqrAz5iMn8ahViNpUJF8naPahKTjTdtvtA5HQn7okSbZTGVpKHNgu2N1oJpr9bvZNwideaxP0GQVw==",
    "application.language" : "zh-CN",
    "application.lockScreenTimeout" : 0,
    "application.masterPassword" : false,
    "terminal.askBeforeCloseTab" : false,
    "terminal.askBeforeCloseWindow" : false,
    "terminal.reimportShellSessions" : false,
    "terminal.startupSessions" : "NoSessions",
    "terminal.text.hiddenMargins" : [ "symbol", "blank", "number", "timestamp", "fold" ]
}
