[
    {
        "quick.group" : "docker",
        "quick.icon" : "session::wifi-deeppink",
        "quick.label" : "dsh",
        "quick.text" : "docker exec -it ",
        "quick.type" : "Send Text",
        "quick.uuid" : "26f4ddf2-7f96-4f34-ba6b-5232da1bfe90"
    },
    {
        "quick.group" : "docker",
        "quick.icon" : "session::square-deeppink",
        "quick.label" : "dec",
        "quick.text" : "docker exec -it ",
        "quick.type" : "Send Text",
        "quick.uuid" : "80a6379d-fb3e-4271-b7fc-0ae9d63adc71"
    },
    {
        "quick.group" : "docker",
        "quick.icon" : "session::circle-deeppink",
        "quick.label" : "drm",
        "quick.text" : "docker rm -f ",
        "quick.type" : "Send Text",
        "quick.uuid" : "bff7a5b9-eaa9-4bd5-8d0e-6732619e94c9"
    },
    {
        "quick.group" : "docker",
        "quick.icon" : "session::arrow-deeppink",
        "quick.label" : "dri",
        "quick.text" : "docker rmi -f ",
        "quick.type" : "Send Text",
        "quick.uuid" : "35146188-9089-4fae-8dac-a6e0efa13c67"
    },
    {
        "quick.group" : "docker",
        "quick.icon" : "session::heart-deeppink",
        "quick.label" : "dps",
        "quick.text" : "docker ps -a",
        "quick.type" : "Send Text",
        "quick.uuid" : "7d1a7d90-8590-4b77-88e9-ddcbe24e4967"
    },
    {
        "quick.group" : "docker",
        "quick.icon" : "session::circle-deeppink",
        "quick.label" : "dbu",
        "quick.text" : "docker build . -t ",
        "quick.type" : "Send Text",
        "quick.uuid" : "94a59a6c-d794-412b-b3a2-1ad7fd5f1495"
    },
    {
        "quick.group" : "docker",
        "quick.icon" : "session::arrow-deeppink",
        "quick.label" : "dc",
        "quick.text" : "docker-compose ",
        "quick.type" : "Send Text",
        "quick.uuid" : "1b0edb3f-06df-4e38-a615-8cd051f96278"
    },
    {
        "quick.group" : "docker",
        "quick.icon" : "session::pinwheel-deeppink",
        "quick.label" : "dc up",
        "quick.text" : "docker-compose up -d",
        "quick.type" : "Send Text",
        "quick.uuid" : "50326df3-d299-4ec4-ae15-490b33ffd6df"
    },
    {
        "quick.group" : "docker",
        "quick.icon" : "session::circle-deeppink",
        "quick.label" : "dc down",
        "quick.text" : "docker-compose down",
        "quick.type" : "Send Text",
        "quick.uuid" : "1e40fad3-ffc7-4348-acce-5922fabf833c"
    }
]
